In [262]:
import zipfile
import pandas as pd
import sys

In [263]:
GTFS_PATH = '/home/moritz/dev/uni/multi_modal_data/Helsinki/GTFS.zip'
# GTFS_PATH = '/home/moritz/dev/uni/multi_modal_data/illinois/gtfs_data/chicago_transit_authority_(cta).zip'

# Read data

In [250]:
STOPS_FILE = "stops.txt"
ROUTES_FILE = "routes.txt"
TRIPS_FILE = "trips.txt"
STOP_TIMES_FILE = "stop_times.txt"
TRANSFERS_FILE = "transfers.txt"

EXPECTED_FILES = [STOPS_FILE, ROUTES_FILE, TRIPS_FILE, STOP_TIMES_FILE, TRANSFERS_FILE]

In [251]:
dfs = ()

with zipfile.ZipFile(GTFS_PATH, 'r') as zip_ref:
	contained = zip_ref.namelist()
	if not all([file in contained for file in EXPECTED_FILES]):
		raise Exception('Not all expected files are in the zip file')

	for file in EXPECTED_FILES:
		with zip_ref.open(file) as f:
			df = pd.read_csv(f)
			dfs += (df,)

## Preprocessing
In our algorithms we expect that routes always have the same path, that is the same sequence of stops.
In GTFS this is not given. Routes can go in opposite directions and have different stops.  
In this preprocessing step we make sure that all routes have the same path.  

After we are done the new `routes_id` will have the following format:  
`<old_route_id>_<direction>_<path_id>`

In [252]:
stops_df, routes_df, trips_df, stop_times_df, transfers_df = dfs

In [253]:
# split routes that go into opposite directions
trips_df["old_route_id"] = trips_df["route_id"]
trips_df["route_id"] = trips_df["route_id"] + "_" + trips_df["direction_id"].astype(str)

In [254]:
trips_stop_times_df = pd.merge(trips_df, stop_times_df, on="trip_id")
# create a df that contains the route_id, trip_id and a the ordered list of stop_ids as a string
paths_df = (
    trips_stop_times_df.sort_values(["route_id", "trip_id", "stop_sequence"])
    .groupby(["route_id", "trip_id"])["stop_id"]
    .apply(list)
    .apply(str)
    .reset_index()
)

paths_df = paths_df.rename(columns={"stop_id": "path"})

In [255]:
# now we go through each route and trip and assign a unique path id,
# which is then used in the new route id.
known_route_paths = {}
path_counter_per_route = {}
path_id_by_path = {}

paths_df["new_route_id"] = paths_df["route_id"]

for i,row in paths_df.iterrows():
	path_counter = path_counter_per_route.get(row["route_id"], 0)
	known_paths = known_route_paths.get(row["route_id"], set())

	path_id = None

	path = row["path"]
	if path in known_paths:
		path_id = path_id_by_path[path]
	else:
		path_id = chr(ord('A') + path_counter)
		paths_df.at[i, "new_route_id"] = row["route_id"] + "_" + path_id

		known_paths.add(path)
		known_route_paths[row["route_id"]] = known_paths

		path_counter_per_route[row["route_id"]] = path_counter + 1

		path_id_by_path[path] = path_id

	paths_df.at[i, "new_route_id"] = row["route_id"] + "_" + path_id

In [256]:
trips_df = trips_df.merge(
    paths_df.drop(columns=["path"]), on=["route_id", "trip_id"]
)

In [257]:
trips_df["route_id"] = trips_df["new_route_id"]
trips_df = trips_df.drop(columns=["new_route_id"])

In [258]:
trips_df

,route_id,service_id,trip_headsign,direction_id,shape_id,trip_id,wheelchair_accessible,bikes_allowed,old_route_id
0,1001_1_A,1006H6_20220204_20220320_Ti,Eira,1,1001 6_20211004_2,1001 6_20220204_Ti_2_0514,1,2,1001
1,1001_1_A,1006H6_20220204_20220320_Ti,Eira,1,1001 6_20211004_2,1001 6_20220204_Ti_2_0610,1,2,1001
2,1001_1_B,1006H6_20220204_20220320_Ti,Eira,1,1001 7_20210712_2,1001 7_20220204_Ti_2_0541,1,2,1001
3,1001_1_C,1006H6_20220204_20220320_Ti,Eira,1,1001_20211004_2,1001_20220204_Ti_2_0545,1,2,1001
4,1001_1_C,1006H6_20220204_20220320_Ti,Eira,1,1001_20211004_2,1001_20220204_Ti_2_0557,1,2,1001
...,...,...,...,...,...,...,...,...,...
3190,9788_1_A,1006H6_20220204_20220320_Ti,Rautatientori,1,9788_20210816_2,9788_20220221_Ti_2_1518,1,2,9788
3191,9788_1_A,1006H6_20220204_20220320_Ti,Rautatientori,1,9788_20210816_2,9788_20220221_Ti_2_1617,1,2,9788
3192,9788K_0_A,1006H6_20220204_20220320_Ti,Porvoo,0,9788K_20210816_1,9788K_20220221_Ti_1_0715,1,2,9788K
3193,9788K_0_A,1006H6_20220204_20220320_Ti,Porvoo,0,9788K_20210816_1,9788K_20220221_Ti_1_1242,1,2,9788K
3194,9788K_1_A,1006H6_20220204_20220320_Ti,Rautatientori,1,9788K_20210816_2,9788K_20220221_Ti_2_1240,1,2,9788K

In [259]:
# add first stop id to trips
first_stop_times = (
    stop_times_df.sort_values(["trip_id", "stop_sequence"])
    .groupby("trip_id")
    .first()[["stop_id", "departure_time"]]
    .rename(
        columns={"stop_id": "first_stop_id", "departure_time": "trip_departure_time"}
    )
)

trips_df = trips_df.merge(
    first_stop_times, left_on="trip_id", right_index=True, how="left"
)

In [261]:
stop_times_df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint
0,1006H6_20220204_Ti_1_1846,18:46:00,18:46:00,1204401,1,Koskelan halli via Rautatieas.,NaN,1.0,0.000,NaN
1,1006H6_20220204_Ti_1_1846,18:48:00,18:48:00,1204403,2,Koskelan halli via Rautatieas.,NaN,NaN,0.524,0.0
2,1006H6_20220204_Ti_1_1846,18:49:00,18:49:00,1204405,3,Koskelan halli via Rautatieas.,NaN,NaN,0.854,0.0
3,1006H6_20220204_Ti_1_1846,18:50:00,18:50:00,1050432,4,Koskelan halli via Rautatieas.,NaN,NaN,1.270,0.0
4,1006H6_20220204_Ti_1_1846,18:52:00,18:52:00,1040440,5,Koskelan halli via Rautatieas.,NaN,NaN,1.538,0.0
...,...,...,...,...,...,...,...,...,...,...
62480,1701_20220204_Ti_2_1000_2,13:41:00,13:42:00,1383192,44,Viikki,NaN,NaN,16.236,NaN
62481,1701_20220204_Ti_2_1000_2,13:44:00,13:44:00,1361116,46,Viikki,NaN,NaN,17.142,0.0
62482,1701_20220204_Ti_2_1000_2,13:45:00,13:45:00,1361114,47,Viikki,NaN,NaN,17.575,0.0
62483,1701_20220204_Ti_2_1000_2,13:45:00,13:45:00,1361112,48,Viikki,NaN,NaN,17.785,0.0
62484,1701_20220204_Ti_2_1000_2,13:47:00,13:47:00,1361105,49,Viikki,NaN,NaN,18.753,0.0

## Convert data from Dataframes into convenient data structures

In [264]:
# testing
trips_df = pd.read_csv("./tmp/trips.csv")
stop_times_df = pd.read_csv("./tmp/stop_times.csv")

In [266]:
routes_by_stop = {} # l.12
stops_by_route = {} # atm we don't need the stop sequence
stops_by_route_dict = {} # l. 14

stop_times_by_trips_by_route = {}
stop_times_by_trip = {} # atm not needed in this form
times_by_stop_by_trip = {} # l. 24

trip_by_route = {} # trips ordered by first departure time
footpaths_by_route = {} # l. 35

In [267]:
stop_times_by_trip_df = stop_times_df.groupby("trip_id").apply(lambda x: x.sort_values("stop_sequence"))[
    ["arrival_time", "departure_time", "stop_id", "stop_sequence"]
]
for (trip_id, _), data in stop_times_by_trip_df.to_dict('index').items():
    stop_times = stop_times_by_trip.get(trip_id, [])
    stop_times.append(data)
    stop_times_by_trip[trip_id] = stop_times

In [268]:
# stop_id_set = set(stops_df['stop_id']) # we define the stop_id_set later, not through stops_df but rather through actually used stops
route_id_set = set(trips_df['route_id'])
trip_id_set = set(trips_df['trip_id'])

In [292]:
trip_ids_by_route = (
    trips_df.groupby("route_id")["trip_id"]
    .apply(lambda x: x.tolist())
    .to_dict()
)

In [270]:
for route_id, trip_ids in trip_ids_by_route.items():
	stops_ordered = []
	stops = set() # we only need the ordered stops, but use the set to check for duplicates
	for trip_id in trip_ids:
		trip_stop_times = stop_times_by_trip[trip_id]

		stop_times_by_trip_dict = stop_times_by_trips_by_route.get(route_id, {})
		stop_times_by_trip_dict[trip_id] = trip_stop_times
		stop_times_by_trips_by_route[route_id] = stop_times_by_trip_dict

		for stop_time in trip_stop_times:
			stop_in_route = (stop_time['stop_id'], stop_time['stop_sequence'])
			if stop_in_route not in stops:
				stops_ordered.append(stop_in_route)
				stops.add(stop_in_route)

	stops_by_route[route_id] = stops_ordered

In [271]:
# inverse routes_by_stop
routes_by_stop = {}
for route_id, stops in stops_by_route.items():
	for (stop,_) in stops:
		routes = routes_by_stop.get(stop, [])
		routes.append(route_id)
		routes_by_stop[stop] = routes


def get_routes_serving_stop(stop_id):
	return routes_by_stop[stop_id]

In [272]:
stop_id_set = set(routes_by_stop.keys()) # only use stops that are actually used
stops_df = stops_df[stops_df['stop_id'].isin(stop_id_set)] # we use stops_df later, so we need to filter it here

In [293]:
# if we have route and stop, we fastly want to access the stop_sequence
stops_by_route_dict = {
    k: {stop: stop_seq for (stop, stop_seq) in (v)} for k, v in stops_by_route.items()
}

def get_idx_of_stop_in_route(stop_id, route_id):
    return stops_by_route_dict[route_id][stop_id]

In [274]:
def str_time_to_seconds(str_time: str) -> int:
    hours, minutes, seconds = map(int, str_time.split(":"))
    total_seconds = hours * 3600 + minutes * 60 + seconds
    return total_seconds

In [275]:
def seconds_to_str_time(seconds: int) -> str:
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    seconds = seconds - hours * 3600 - minutes * 60
    return f"{hours:02}:{minutes:02}:{seconds:02}"

In [276]:
times_by_stop_by_trip = {
    trip_id: {
        stop["stop_id"]: (
            str_time_to_seconds(stop["arrival_time"]),
            str_time_to_seconds(stop["departure_time"]),
        )
        for stop in stops
    }
    for (trip_id, stops) in stop_times_by_trip.items()
}


def get_arrival_time(trip_id: str, stop_id: str) -> int:
    assert trip_id is not None
    assert stop_id is not None

    arrival_time = times_by_stop_by_trip[trip_id][stop_id][0]
    assert type(arrival_time) == int
    return arrival_time



def get_departure_time(trip_id: str, stop_id: str) -> int:
    assert stop_id is not None

    if trip_id is None:
        return sys.maxsize

    departure_time = times_by_stop_by_trip[trip_id][stop_id][1]
    assert type(departure_time) == int
    return departure_time

In [297]:
trip_by_route = {}  # trips ordered by first departure time
trip_by_route = (
    trips_df.sort_values(["route_id", "trip_departure_time"])
    .groupby("route_id")["trip_id"]
    .apply(list)
    .to_dict()
)

## Calculate footpath durations

In [278]:
from pyrosm.data import sources, get_data
import shutil
import os

city = "Helsinki"
path = f"./osm/{city}.pbf"

if not os.path.exists(path):
	fp = get_data(city, update=True)
	os.makedirs("./osm", exist_ok=True)
	shutil.move(fp, path)

In [25]:
import pyrosm

osm = pyrosm.OSM(path)

nodes, edges = osm.get_network(nodes=True, network_type="walking")

In [26]:
import geopandas as gpd
from shapely.geometry import MultiPoint

def trim_osm_to_stops(nodes: gpd.GeoDataFrame, edges: gpd.GeoDataFrame, stops_df: gpd.GeoDataFrame):
	combined_geometry = MultiPoint(stops_df.geometry.tolist())
	convex_hull = combined_geometry.convex_hull
	zone_of_interest = convex_hull.buffer(0.01)

	n_nodes_before = len(nodes)
	n_edges_before = len(edges)

	nodes = nodes.loc[nodes.geometry.within(zone_of_interest), :]
	edges = edges.loc[edges.u.isin(nodes.id) & edges.v.isin(nodes.id), :]
	print(f"""
	{len(nodes)}/{n_nodes_before} ({len(nodes)/n_nodes_before*100:.2f}%) nodes remaining
	{len(edges)}/{n_edges_before} ({len(edges)/n_edges_before*100:.2f}%) edges remaining
	""")

	return nodes, edges

In [27]:
stops_gdf = gpd.GeoDataFrame(
	stops_df, geometry=gpd.points_from_xy(stops_df.stop_lon, stops_df.stop_lat)
)

In [28]:
nodes, edges = trim_osm_to_stops(nodes, edges, stops_gdf)

	255110/973995 (26.19%) nodes remaining
	293374/1095796 (26.77%) edges remaining

In [29]:
G_nx = osm.to_graph(nodes, edges, graph_type="networkx")
G_i_graph = osm.to_graph(nodes, edges, graph_type="igraph")

In [30]:
import osmnx as ox
import networkx as nx

In [31]:
stop_ids_df = stops_df[["stop_id", "stop_lat", "stop_lon"]].copy()
nodes, dists = ox.nearest_nodes(
    G_nx, stop_ids_df.stop_lon, stop_ids_df.stop_lat, return_dist=True
)
stop_ids_df["nearest_node"] = nodes
stop_ids_df["nearest_node_dist"] = dists
stop_ids_df.head(2)

   stop_id  stop_lat  stop_lon  nearest_node  nearest_node_dist
0  1240134  60.20583  24.96293    5826933348           0.762623
1  1240133  60.20488  24.96385     772801262           4.249293

In [32]:
print(stop_ids_df.nearest_node_dist.max())

47.29024306378295

In [33]:
stop_ids_df.to_csv("stop_ids_near_nodes.csv", index=False)

In [34]:
stop_ids_gdf = gpd.GeoDataFrame(
    stop_ids_df,
    geometry=gpd.points_from_xy(stop_ids_df.stop_lon, stop_ids_df.stop_lat),
    crs="epsg:4326",
).to_crs("EPSG:32634")
# find stops that are within max_walking_distance beeline distance from each other
avg_walk_speed = 1.4  # m/s
max_walking_duration = 10 * 60  # seconds
max_walking_distance = avg_walk_speed * max_walking_duration
max_walking_distance

nearby_stops_map = {}
for i, row in stop_ids_gdf.iterrows():
    nearby_stops = stop_ids_gdf[
        stop_ids_gdf.geometry.distance(row.geometry) < max_walking_distance
    ].stop_id.tolist()
    # remove self
    nearby_stops = [stop_id for stop_id in nearby_stops if stop_id != row.stop_id]
    nearby_stops_map[row.stop_id] = nearby_stops

In [35]:
node_id_to_g_igraph_node_id_map = {
    node.attributes()["id"]: node.attributes()["node_id"]
    for node in G_i_graph.vs
}

In [36]:
def get_shortest_path_length_igraph(s_node_id, t_node_id):
    paths = G_i_graph.get_shortest_paths(
        node_id_to_g_igraph_node_id_map[s_node_id],
        node_id_to_g_igraph_node_id_map[t_node_id],
        weights="length",
        output="epath",
    )
    path = paths[0]
    return sum(G_i_graph.es[epath]["length"] for epath in path)

In [37]:
nearest_node_dict = stop_ids_gdf.set_index("stop_id")["nearest_node"].to_dict()

In [38]:
from tqdm.notebook import tqdm
from tqdm.contrib.concurrent import process_map

nearby_stops_with_distance_map = {}


def ge(source_stop, nearby_stops):
    return {
        target_stop: get_shortest_path_length_igraph(
            nearest_node_dict[source_stop], nearest_node_dict[target_stop]
        )
        for target_stop in nearby_stops
    }


sources = nearby_stops_map.keys()
res = process_map(
    ge, sources, nearby_stops_map.values(), chunksize=5, max_workers=12
)

for source_stop, nearby_stops_with_distance in zip(sources, res):
	nearby_stops_with_distance_map[source_stop] = nearby_stops_with_distance


# for source_stop, nearby_stops in tqdm(nearby_stops_map.items()):
# 	nearby_stops_with_distance_map[source_stop] = {
# 		target_stop: get_shortest_path_length_igraph(
# 			nearest_node_dict[source_stop], nearest_node_dict[target_stop]
# 		)
# 		for target_stop in nearby_stops
# 	}

  0%|          | 0/1388 [00:00<?, ?it/s]

In [39]:
nearby_stop_with_walking_time_map = {}
for source_stop, nearby_stops_with_distance in nearby_stops_with_distance_map.items():
    	nearby_stop_with_walking_time_map[source_stop] = {
		target_stop: distance / avg_walk_speed
		for target_stop, distance in nearby_stops_with_distance.items()
	}

# Algorithm

In [40]:
import sys

### Helpers

In [41]:
def earliest_trip(route_id: str, stop_id: str, arrival_time: int, change_time: int):
    trip_ids = trip_by_route[route_id]
    for trip_id in trip_ids:
        if get_departure_time(trip_id, stop_id) >= arrival_time + change_time:
            return trip_id

### Assertions

In [ ]:
for stop_id, nearby_stops_with_time in nearby_stop_with_walking_time_map.items():
	for nearby_stop_id, walking_time in nearby_stops_with_time.items():
		assert type(walking_time) == int, f"walking_time is not int: {walking_time}"

### Config

In [214]:
MAX_TRANSFERS = 8
DEFAULT_TRANSFER_TIME = 60 # seconds

start_stop_id = 1040409
end_stop_id = 1361117

start_time = str_time_to_seconds("15:00:00")

### Algorithm

In [215]:
# only needed once

# nearby_stop_with_walking_time_map
# # filter out stops that are not in stop_id_set
# nearby_stop_with_walking_time_map = {
#     source_stop: {
#         target_stop: int(walking_time)
#         for target_stop, walking_time in nearby_stops_with_walking_time.items()
#         if target_stop in stop_id_set and source_stop in stop_id_set
#     }
#     for source_stop, nearby_stops_with_walking_time in nearby_stop_with_walking_time_map.items()
# }

In [216]:
# initialize
tau_i = {
    0: {},
}
tau_best = {}
marked_stops = set()

for stop_id in stop_id_set:
    tau_i[0][stop_id] = sys.maxsize
    tau_best[stop_id] = sys.maxsize

tau_i[0][start_stop_id] = start_time
tau_best[start_stop_id] = start_time

marked_stops.add(start_stop_id)


for k in range(1, MAX_TRANSFERS + 1):
    Q = {}
    tau_i[k] = tau_i[k - 1].copy()

    for stop_id in marked_stops:
        for route_id in get_routes_serving_stop(stop_id):
            if route_id not in Q:
                Q[route_id] = stop_id
                continue

            # if our stop is closer to the start than the existing one, we replace it
            existing_stop_id = Q[route_id]
            idx = get_idx_of_stop_in_route(stop_id, route_id)
            existing_idx = get_idx_of_stop_in_route(existing_stop_id, route_id)
            if idx < existing_idx:
                Q[route_id] = stop_id

    marked_stops = set()

    print(Q)

    for route_id, stop_id in Q.items():
        trip_id = None
        for stop_id, _ in stops_by_route[route_id]:
            if trip_id is not None and get_arrival_time(trip_id, stop_id) < min(
                tau_best[stop_id], tau_best[end_stop_id]
            ):
                arrival_time = get_arrival_time(trip_id, stop_id)
                tau_i[k][stop_id] = arrival_time
                tau_best[stop_id] = arrival_time
                marked_stops.add(stop_id)

            ready_to_depart = tau_i[k - 1][stop_id] + DEFAULT_TRANSFER_TIME
            if ready_to_depart < get_departure_time(trip_id, stop_id):
                trip_id = earliest_trip(route_id, stop_id, ready_to_depart, DEFAULT_TRANSFER_TIME)

    additional_marked_stops = set()
    for stop_id in marked_stops:
        if stop_id == 1040290:
            print("here")
            print(nearby_stop_with_walking_time_map[stop_id])
        for nearby_stop_id, walking_time in nearby_stop_with_walking_time_map[stop_id].items():
            reachable_by_foot = tau_i[k][stop_id] + walking_time
            assert type(reachable_by_foot) == int, f"reachable_by_foot is not int: {reachable_by_foot} type: {str(type(reachable_by_foot))}"

            # if stop_id == 1040290 and nearby_stop_id == 1040411:
            #     print(nearby_stop_id, reachable_by_foot, tau_i[k][nearby_stop_id])

            # we have a couple of modifications here:
            # 1. we only mark the stop if tau is actually updated
            # 2. we use tau_best instead of tau_k (should not make a difference)
            # 3. we also consider tau_best[end_stop_id] just like in the stop before
            # 4. we also update tau_best
            if reachable_by_foot < min(tau_best[nearby_stop_id], tau_best[end_stop_id]):
                tau_i[k][nearby_stop_id] = reachable_by_foot
                tau_best[nearby_stop_id] = reachable_by_foot
                additional_marked_stops.add(nearby_stop_id)
    marked_stops.update(additional_marked_stops)
    
print(tau_best[end_stop_id])

{'1007_1_A': 1040409, '1007_1_B': 1040409, '1009_1_A': 1040409, '1009_1_B': 1040409}
{'1021N_1_A': 1201132, '1024_1_A': 1130183, '1025_1_A': 1130119, '1037_1_A': 1130139, '1041_1_A': 1130139, '1042_1_A': 1130139, '1069_1_A': 1130139, '1070_1_A': 1130139, '2108N_1_A': 1130139, '1021N_0_A': 1040117, '1020_0_A': 1050106, '1030_0_A': 1050106, '1001H_0_A': 1050417, '1001H_0_B': 1050417, '1001_0_B': 1050417, '1003H_0_A': 1050413, '1003_0_A': 1050413, '1006H_0_A': 1204401, '1006_0_B': 1204401, '1022_0_A': 1050105, '1022_1_A': 1201132, '1007_1_A': 1040411, '1007_1_B': 1040411, '1009_1_A': 1040411, '1009_1_B': 1040411, '1007H_0_A': 1203418, '1007_0_B': 1203418, '1009H_0_A': 1203416, '1009_0_A': 1203416, '1001_1_A': 1130439, '1001_1_B': 1130439, '1001_1_C': 1130439, '1002_1_A': 1130439, '1002_1_B': 1130439, '1002_1_C': 1130439, '1004S_1_A': 1020443, '1004_1_A': 1020443, '1004_1_B': 1020443, '1004_1_C': 1020443, '1005_1_A': 1020443, '1010_1_A': 1020443, '1010_1_B': 1020443, '1010_1_C': 1020443, '1002H_0_A': 1020444, '1002H_0_B': 1020444, '1002_0_B': 1020444, '1004H_0_A': 1020444, '1004H_0_B': 1020444, '1004S_0_A': 1020444, '1004_0_C': 1020444, '1005H_0_A': 1020444, '1010H_0_A': 1020444, '1010H_0_B': 1020444, '1010_0_B': 1020444, '1008H_0_A': 1203404, '1008_0_B': 1203404, '1008_1_A': 1130447, '1008_1_B': 1130447, '1020_1_A': 1130139, '1030_1_A': 1130139, '1003_1_A': 1040438, '1003_1_B': 1040438, '1003_1_C': 1040438, '1006_1_A': 1040438, '1006_1_B': 1040438, '2113N_0_A': 1040276, '2114N_0_A': 1040276, '2118N_0_A': 1040277, '2125N_0_A': 1040278, '2134N_0_A': 1040279, '2143A_0_A': 1040280, '2146A_0_A': 1040281, '2146N_0_A': 1040280, '2147A_0_A': 1040280, '2147N_0_A': 1040281, '2164A_0_A': 1040282, '2164VA_0_A': 1040282, '2165N_0_A': 1040280, '6173N_0_A': 1040282, '7192V_0_A': 1040291, '7192_0_A': 1040291, '1021_0_A': 1040278, '2112N_0_A': 1040273, '7192T_0_A': 1040291, '1021_1_A': 1201132, '2112N_1_A': 1201132, '2113N_1_A': 1201130, '2114N_1_A': 1201130, '2118N_1_A': 1201130, '2125N_1_A': 1201130, '2134N_1_A': 1201130, '2143A_1_A': 1201130, '2146A_1_A': 1201130, '2146N_1_A': 1201130, '2147A_1_A': 1201130, '2147N_1_A': 1201130, '2164A_1_A': 1201130, '2164VA_1_A': 1201130, '2165N_1_A': 1201130, '6173N_1_A': 1201130, '7192T_1_A': 1201132, '7192V_1_A': 1201130, '7192_1_A': 1201130, '1037_0_A': 1040271, '1041_0_A': 1040272, '1042_0_A': 1040273, '1069_0_A': 1040275, '1070_0_A': 1040276, '2108N_0_A': 1040275, '1063_1_A': 1130113, '2212_1_A': 1130113, '2213N_1_A': 1130113, '2213_1_A': 1130113, '1024_0_A': 1040277, '1025_0_A': 1040277, '1063_0_A': 1040274, '2212_0_A': 1040279, '2213N_0_A': 1040279, '2213_0_A': 1040279, '7280_1_A': 1040290, '7346_1_A': 1040290, '7455A_1_A': 1040290, '7455_1_A': 1040290, '7456A_1_A': 1040290, '7456_1_A': 1040290, '7457A_1_A': 1040290, '7457_1_A': 1040290, '7459_1_A': 1040290, '7465B_1_A': 1040290, '7465_1_A': 1040290, '7848_1_A': 1040290, '7280_0_A': 1040291, '7346_0_A': 1040291, '7453_0_A': 1040291, '7455A_0_A': 1040291, '7455_0_A': 1040291, '7456A_0_A': 1040291, '7457_0_A': 1040291, '7459_0_A': 1040291, '7465B_0_A': 1040291, '7465_0_A': 1040291, '7848_0_A': 1040291, '31M1_0_A': 1201601, '31M2_0_A': 1201601, '31M1_1_A': 1040602, '31M2M_1_A': 1040602, '31M2_1_A': 1040602, '1015_0_A': 1201107, '1015_1_A': 1201132}
{'1002H_1_A': 1174410, '1002_1_C': 1174410, '1002_0_A': 1140438, '1002_0_B': 1090416, '1037_1_A': 1333185, '2321_1_A': 1320120, '2345N_1_A': 1320120, '2345_1_A': 1320120, '4322_1_A': 1320120, '4332_1_A': 1320120, '7346_1_A': 1320120, '1023_1_A': 1281192, '1063_1_A': 1351112, '1023_0_A': 1020116, '1063_0_A': 1130111, '1056_1_A': 1331156, '1056_0_A': 1100106, '1053_1_A': 1463116, '2550_1_A': 1465100, '1603_1_A': 1351112, '1001H_0_A': 1050416, '1001H_0_B': 1050416, '1001_0_B': 1050416, '1003H_0_A': 1090415, '1003_0_A': 1090415, '1006H_0_A': 1040437, '1006_0_B': 1040437, '1066_1_A': 1351115, '1067_1_A': 1351110, '2553K_1_A': 1465100, '2553_1_A': 1463226, '1066_0_A': 1020122, '1067N_0_A': 1020122, '1067_0_A': 1020122, '1603_0_A': 1382119, '2550_0_A': 1260110, '2553K_0_A': 1382119, '2553_0_A': 1382119, '1001_1_A': 1240403, '1001_1_B': 1140437, '1001_1_C': 1250431, '1003_1_A': 1140438, '1003_1_B': 1240403, '1003_1_C': 1180444, '1006_1_A': 1240403, '1006_1_B': 1230407, '1053_0_A': 1232102, '1009_1_B': 1220434, '1006H_1_A': 1230407, '1008H_1_A': 1230407, '1008_1_B': 1230407, '1002_1_B': 1240403, '1004_0_B': 1240403, '1004_1_B': 1240403, '1008_1_A': 1240403, '1010_1_B': 1240403, '3001I_0_A': 1020503, '1061N_0_A': 1020123, '1061T_0_A': 1020123, '1061_0_A': 1020123, '1064_0_A': 1020123, '1065_0_A': 1020122, '1071_0_A': 1020113, '1073N_0_A': 1020117, '1074N_0_A': 1020117, '1075_0_A': 1020117, '1077N_0_A': 1020113, '1077_0_A': 1020120, '1078N_0_A': 1020113, '1078_0_A': 1020113, '1079N_0_A': 1020117, '1085N_0_A': 1020123, '1086N_0_A': 1020123, '1087N_0_A': 1020123, '1090A_0_A': 1020122, '1090N_0_A': 1020122, '1092N_0_A': 1020120, '1094N_0_A': 1020120, '1095N_0_A': 1020120, '1096N_0_A': 1020122, '1097N_0_A': 1020120, '1016_1_A': 1100107, '1055_1_A': 1260108, '1061N_1_A': 1370112, '1061T_1_A': 1370112, '1061_1_A': 1370112, '1064_1_A': 1342116, '1065_1_A': 1285166, '1071_1_A': 1382119, '1073N_1_A': 1240123, '1074N_1_A': 1240123, '1075_1_A': 1240123, '1077N_1_A': 1382119, '1077_1_A': 1240123, '1078N_1_A': 1270105, '1078_1_A': 1270107, '1079N_1_A': 1240123, '1085N_1_A': 1100107, '1086N_1_A': 1100107, '1087N_1_A': 1100107, '1090A_1_A': 1100107, '1090N_1_A': 1100107, '1092N_1_A': 1100107, '1094N_1_A': 1100107, '1095N_1_A': 1100107, '1096N_1_A': 1100107, '1097N_1_A': 1100107, '1016_0_A': 1020112, '4721N_0_A': 1020115, '4731N_0_A': 1020115, '4739_0_A': 1020115, '9785K_0_A': 1020115, '9785_0_A': 1020115, '9787A_0_A': 1020115, '9787K_0_A': 1020115, '9787_0_A': 1020115, '9788K_0_A': 1020115, '9788_0_A': 1020115, '4717K_0_A': 1020117, '4717N_0_A': 1020117, '4717_0_A': 1020117, '4718A_0_A': 1020117, '4718_0_A': 1020117, '4614_0_A': 1020119, '4615_0_A': 1020119, '4617_0_A': 1020119, '4611B_0_A': 1020120, '4611_0_A': 1020120, '3002P_0_A': 1020502, '1040_1_A': 1331108, '2200_1_A': 1465100, '2231N_1_A': 1465100, '2235N_1_A': 1465100, '2435_1_A': 1332114, '2436K_1_A': 1332114, '2436N_1_A': 1334123, '2436_1_A': 1332114, '4411_1_A': 1332114, '4415N_1_A': 1332114, '4415_1_A': 1332114, '4421_1_A': 1332114, '4431N_1_A': 1332114, '4431_1_A': 1332114, '1040_0_A': 1020130, '2200_0_A': 1020131, '2231N_0_A': 1020131, '2235N_0_A': 1020131, '4322_0_A': 1020132, '4332_0_A': 1020133, '2345N_0_A': 1020135, '2345_0_A': 1020135, '1001_0_A': 1240403, '1007_0_A': 1240403, '1007_1_A': 1240403, '1009_1_A': 1240403, '1055_0_A': 1020182, '1021N_0_A': 1020171, '1021N_1_A': 1310121, '4611B_1_A': 1342299, '4611_1_A': 1342299, '4614_1_A': 1342299, '4615_1_A': 1342299, '4617_1_A': 1342299, '4717K_1_A': 1240123, '4717N_1_A': 1240123, '4717_1_A': 1240123, '4718A_1_A': 1240123, '4718_1_A': 1240123, '4721N_1_A': 1240123, '4731N_1_A': 1240123, '4739_1_A': 1240123, '9633N_1_A': 1342299, '9785K_1_A': 1240123, '9785_1_A': 1240123, '9787A_1_A': 1240123, '9787K_1_A': 1240123, '9787_1_A': 1240123, '9788K_1_A': 1240123, '9788_1_A': 1240123, '9633N_0_A': 1020204, '1001H_1_A': 1250431, '1007H_1_A': 1174402, '1007_1_B': 1174402, '2321N_0_A': 1020239, '2321_0_A': 1020239, '4411_0_A': 1020241, '4421_0_A': 1020241, '2435_0_A': 1020243, '2436K_0_A': 1020243, '2436N_0_A': 1020243, '2436_0_A': 1020243, '4415N_0_A': 1020245, '4415_0_A': 1020245, '4431N_0_A': 1020245, '4431_0_A': 1020245, '1506_0_A': 1270105, '1506_1_A': 1160113, '1057_1_A': 1301149, '1057_0_A': 1270107, '1036_0_A': 1320127, '1042_1_A': 1331156, '1052_1_A': 1302219, '1004H_0_A': 1080416, '1004H_0_B': 1080416, '1004_0_C': 1080416, '1005H_0_A': 1080413, '1005_0_A': 1080413, '1037_0_A': 1130103, '7455A_1_A': 1332114, '7455_1_A': 1332114, '7456A_1_A': 1332114, '7456_1_A': 1332114, '7457A_1_A': 1332114, '7457_1_A': 1332114, '7459_1_A': 1332114, '7465B_1_A': 1332114, '7465_1_A': 1332114, '1069_1_A': 1370119, '1500_0_A': 1100159, '2510_0_A': 1100159, '7848_1_A': 1260102, '1005_1_A': 1140437, '1005_1_B': 1020453, '1007H_0_A': 1020453, '1007_0_B': 1020453, '1002_1_A': 1140437, '1004S_1_A': 1140437, '1004_1_A': 1140437, '1004_1_C': 1301456, '1002H_0_A': 1090416, '1002H_0_B': 1090416, '1004S_0_A': 1030423, '1009H_0_A': 1020453, '1009_0_A': 1020453, '1041_0_A': 1130103, '1042_0_A': 1130103, '7346_0_A': 1130206, '7453_0_A': 1130206, '7455A_0_A': 1130206, '7455_0_A': 1130206, '7456A_0_A': 1130206, '7457_0_A': 1130206, '7459_0_A': 1130206, '7465B_0_A': 1130206, '7465_0_A': 1130206, '1041_1_A': 1294140, '1010H_0_A': 1070425, '1010H_0_B': 1070425, '1010_0_B': 1070425, '1010_1_A': 1140437, '1010_1_C': 1291404, '1034_0_A': 1304160, '1034_1_A': 1303192, '3001D_0_A': 1020501, '3001R_0_A': 1020501, '3001T_0_A': 1020501, '3001Z_0_A': 1020501, '3002A_0_A': 1020502, '3002E_0_A': 1020502, '3002L_0_A': 1020502, '3002U_0_A': 1020502, '3002X_0_A': 1020502, '3002Y_0_A': 1020502, '3001K_0_A': 1020503, '3001D_1_A': 1174553, '3001R_1_A': 1174553, '3001T_1_A': 1370551, '3001Z_1_A': 1174553, '3002A_1_A': 1465552, '3002E_1_A': 1291551, '3002L_1_A': 1465552, '3002U_1_A': 1291551, '3002X_1_A': 1291551, '3002Y_1_A': 1291551, '3001K_1_A': 1370551, '31M1_0_A': 1310603, '31M2_0_A': 1310603, '31M1_1_A': 1100602, '31M2M_1_A': 1100602, '31M2_1_A': 1100602, '1010_0_A': 1140438, '1010H_1_A': 1291404, '4616_0_A': 1111180, '4623K_0_A': 1111180, '4623_0_A': 1111180, '4633_0_A': 1111180, '9643K_0_A': 1111180, '9643_0_A': 1111180, '4616_1_A': 1342299, '4623K_1_A': 1342299, '4623_1_A': 1342299, '4633_1_A': 1342299, '9643K_1_A': 1342299, '9643_1_A': 1342299, '1069_0_A': 1130103, '4518_0_A': 1171150, '7848_0_A': 1130206, '4518_1_A': 1260102, '1030_0_A': 1060101, '1036_1_A': 1281110, '1059_0_A': 1100131, '2201B_1_A': 1463113, '2201_1_A': 1461105, '1030_1_A': 1333177, '1059_1_A': 1333185, '2201B_0_A': 1465100, '2201_0_A': 1465100, '1032_0_A': 1294191, '1032_1_A': 1304105, '1031_0_A': 1294191, '1031_1_A': 1304105, '1052_0_A': 1334158, '1025_0_A': 1130122, '1025_1_A': 1461109, '1054_1_A': 1465148, '1054_0_A': 1370107, '1015_1_A': 1201110, '1015_0_A': 1201122, '1021_1_A': 1310105, '1021_0_A': 1310101, '1073_0_A': 1111151, '1074_0_A': 1111151, '4711_0_A': 1111204, '4721_0_A': 1111204, '4731_0_A': 1111301, '1073_1_A': 1240123, '1074_1_A': 1240123, '4711_1_A': 1240123, '4721_1_A': 1240123, '4731_1_A': 1240123, '1500_1_A': 1304104, '2510_1_A': 1302219, '2108N_0_A': 1130103, '2502_0_A': 1113123, '1020_1_A': 1304103, '2502_1_A': 1301158, '2108N_1_A': 1302219, '1024_0_A': 1130182, '1024_1_A': 1150130, '2212_0_A': 1130111, '2213N_0_A': 1130111, '2213_0_A': 1130111, '7280_0_A': 1130206, '1070_0_A': 1130103, '2212_1_A': 1301158, '2213N_1_A': 1301158, '2213_1_A': 1301158, '7280_1_A': 1301158, '1070_1_A': 1370119, '1020_0_A': 1060101, '1033_0_A': 1304105, '1033_1_A': 1301108, '1035_0_A': 1304160, '1035_1_A': 1304105, '1006_0_A': 1220410, '1008_0_A': 1220410, '1008_0_B': 1130442, '1004_0_A': 1140438, '1004H_1_A': 1301456, '1008H_0_A': 1130442, '9738_1_A': 1240123, '9738_0_A': 1100130, '1702_0_A': 1370130, '1702_1_A': 1370125, '1019_0_A': 1030701, '1019_1_A': 1030701, '1701_0_A': 1383192, '1701_1_A': 1383192, '1019E_0_A': 1080701, '1019E_1_A': 1080701, '1022_0_A': 1310101, '2112N_0_A': 1310101, '7192T_0_A': 1310101, '1022_1_A': 1310121, '2112N_1_A': 1310299, '7192T_1_A': 1310299, '1022B_0_A': 1310105, '2104_0_A': 1310105, '1022B_1_A': 1310121, '2104_1_A': 1310299, '7192V_0_A': 1310124, '7192V_1_A': 1310299}
{'1603_1_A': 1351112, '1066_0_A': 1020122, '1067_0_A': 1020122, '2550_0_A': 1361104, '2553K_0_A': 1284124, '2553_0_A': 1284124, '1603_0_A': 1284139, '1001H_0_A': 1040437, '1001H_0_B': 1040437, '1001_0_B': 1040437, '1003H_0_A': 1040437, '1003_0_A': 1040437, '1006H_0_A': 1040437, '1006_0_B': 1040437, '1061N_0_A': 1020123, '1061T_0_A': 1020123, '1061_0_A': 1020123, '4611B_0_A': 1020120, '4611_0_A': 1020120, '4614_0_A': 1020119, '4615_0_A': 1020119, '4616_0_A': 1111180, '4617_0_A': 1020119, '4623K_0_A': 1111180, '4623_0_A': 1111180, '4633_0_A': 1111180, '9633N_0_A': 1020204, '9643K_0_A': 1111180, '9643_0_A': 1111180, '1061N_1_A': 1284124, '1061T_1_A': 1284124, '1061_1_A': 1284124, '1066_1_A': 1351102, '1067_1_A': 1351110, '4611B_1_A': 1342299, '4611_1_A': 1342299, '4614_1_A': 1342299, '4615_1_A': 1342299, '4616_1_A': 1342299, '4617_1_A': 1342299, '4623K_1_A': 1342299, '4623_1_A': 1342299, '4633_1_A': 1342299, '9633N_1_A': 1342299, '9643K_1_A': 1342299, '9643_1_A': 1342299, '3002A_0_A': 1172503, '3002L_0_A': 1172503, '3002P_0_A': 1172503, '2553K_1_A': 1341121, '2553_1_A': 1341121, '2550_1_A': 1291127, '1023_0_A': 1020116, '1056_1_A': 1286179, '1063_0_A': 1174101, '1023_1_A': 1281109, '1056_0_A': 1250105, '1063_1_A': 1351112, '1053_0_A': 1250105, '1053_1_A': 1282141, '1073_1_A': 1113127, '1074_1_A': 1113127, '1065_1_A': 1285163, '1065_0_A': 1020122, '1064_0_A': 1020123, '1067N_0_A': 1020122, '1069_0_A': 1250111, '1069_1_A': 1284156, '1064_1_A': 1342116, '1071_1_A': 1364106, '1073N_1_A': 1112126, '1074N_1_A': 1112126, '1075_1_A': 1112126, '1077N_1_A': 1364106, '1077_1_A': 1112126, '1078N_1_A': 1361120, '1078_1_A': 1361120, '1079N_1_A': 1112126, '4711_1_A': 1112126, '4717K_1_A': 1112126, '4717N_1_A': 1112126, '4717_1_A': 1112126, '4718A_1_A': 1112126, '4718_1_A': 1112126, '4721N_1_A': 1112126, '4721_1_A': 1112126, '4731N_1_A': 1112126, '4731_1_A': 1112126, '4739_1_A': 1112126, '9785K_1_A': 1112126, '9785_1_A': 1112126, '9787A_1_A': 1112126, '9787K_1_A': 1112126, '9787_1_A': 1112126, '9788K_1_A': 1112126, '9788_1_A': 1112126, '1001_1_A': 1020464, '1001_1_B': 1020464, '1001_1_C': 1250431, '1003_1_A': 1111429, '1003_1_B': 1111429, '1003_1_C': 1111429, '1006_1_A': 1113433, '1006_1_B': 1113433, '1071_0_A': 1020113, '1073N_0_A': 1020117, '1073_0_A': 1111151, '1074N_0_A': 1020117, '1074_0_A': 1111151, '1075_0_A': 1020117, '1077N_0_A': 1020113, '1077_0_A': 1020120, '1078N_0_A': 1020113, '1078_0_A': 1020113, '1079N_0_A': 1020117, '4711_0_A': 1111204, '4717K_0_A': 1020117, '4717N_0_A': 1020117, '4717_0_A': 1020117, '4718A_0_A': 1020117, '4718_0_A': 1020117, '4721N_0_A': 1020115, '4721_0_A': 1111204, '4731N_0_A': 1020115, '4731_0_A': 1111301, '4739_0_A': 1020115, '9785K_0_A': 1020115, '9785_0_A': 1020115, '9787A_0_A': 1020115, '9787K_0_A': 1020115, '9787_0_A': 1020115, '9788K_0_A': 1020115, '9788_0_A': 1020115, '1055_0_A': 1020182, '1085N_0_A': 1020123, '1086N_0_A': 1020123, '1087N_0_A': 1020123, '1090A_0_A': 1020122, '1090N_0_A': 1020122, '1092N_0_A': 1020120, '1094N_0_A': 1020120, '1095N_0_A': 1020120, '1096N_0_A': 1020122, '1097N_0_A': 1020120, '1055_1_A': 1260108, '1085N_1_A': 1100122, '1086N_1_A': 1100122, '1087N_1_A': 1100122, '1090A_1_A': 1100122, '1090N_1_A': 1100122, '1092N_1_A': 1100122, '1094N_1_A': 1100122, '1095N_1_A': 1100122, '1096N_1_A': 1100122, '1097N_1_A': 1100122, '1001_0_A': 1173423, '1001H_1_A': 1250431, '1506_1_A': 1250111, '1506_0_A': 1364106, '3001I_0_A': 1250501, '3001K_0_A': 1250501, '3001T_0_A': 1020501, '1016_1_A': 1420120, '1057_1_A': 1250111, '1057_0_A': 1361120, '1701_1_A': 1361116, '1016_0_A': 1020112, '1701_0_A': 1361120, '1040_1_A': 1020128, '2200_1_A': 1020128, '2231N_1_A': 1020128, '2235N_1_A': 1020128, '2321_1_A': 1020128, '2345N_1_A': 1020128, '2345_1_A': 1020128, '2435_1_A': 1020128, '2436K_1_A': 1020128, '2436N_1_A': 1020128, '2436_1_A': 1020128, '4322_1_A': 1020128, '4332_1_A': 1020128, '4411_1_A': 1020128, '4415N_1_A': 1020128, '4415_1_A': 1020128, '4421_1_A': 1020128, '4431N_1_A': 1020128, '4431_1_A': 1020128, '1034_1_A': 1303107, '1052_1_A': 1302219, '2108N_1_A': 1302219, '2510_1_A': 1302219, '3001K_1_A': 1250551, '3001T_1_A': 1250551, '1021N_0_A': 1020171, '1021N_1_A': 1020171, '1004S_0_A': 1030423, '1004S_1_A': 1020446, '1002_1_A': 1020446, '1002_1_B': 1020446, '1002_1_C': 1020446, '1002H_0_A': 1030425, '1002H_0_B': 1030425, '1002_0_B': 1030425, '1010H_0_A': 1030428, '1010H_0_B': 1030428, '1010_0_B': 1030428, '1010_1_A': 1020464, '1010_1_B': 1020464, '1010_1_C': 1020464, '1500_1_A': 1100109, '1007H_0_A': 1020453, '1007_0_B': 1020453, '1007_1_A': 1113433, '1007_1_B': 1113433, '1059_0_A': 1100140, '1059_1_A': 1100143, '1009H_0_A': 1020453, '1009_0_A': 1020453, '1009_1_A': 1111429, '1009_1_B': 1111429, '1005H_0_A': 1010424, '1005_1_A': 1020453, '1005_1_B': 1020453, '1004_1_A': 1020446, '1004_1_B': 1020446, '1004_1_C': 1020446, '1004H_0_A': 1010424, '1004H_0_B': 1010424, '1004_0_C': 1010424, '1005_0_A': 1010424, '1019_0_A': 1030701, '1019_1_A': 1030701, '1034_0_A': 1302216, '3001D_0_A': 1020501, '3001R_0_A': 1020501, '3001Z_0_A': 1020501, '3001D_1_A': 1020551, '3001R_1_A': 1020551, '3001Z_1_A': 1020551, '1054_0_A': 1342101, '1054_1_A': 1341108, '31M1_0_A': 1020601, '31M2_0_A': 1020601, '31M1_1_A': 1020604, '31M2M_1_A': 1020604, '31M2_1_A': 1020604, '1052_0_A': 1291128, '2108N_0_A': 1302216, '2510_0_A': 1302216, '4518_0_A': 1250111, '7848_0_A': 1250111, '4518_1_A': 1250116, '7848_1_A': 1250116}
{}
{}
{}
{}
63013

In [217]:
for tau in tau_best.values():
	assert type(tau) == int, f"tau is not int: {tau}"

In [218]:
reached = {k: v for k, v in tau_best.items() if v < sys.maxsize}

print(f"reached {len(reached)}/{len(tau_best)} stops ({len(reached)/len(tau_best)*100:.2f}%)")

reached 1355/1361 stops (99.56%)

In [219]:
reached = {k: seconds_to_str_time(v) for k, v in reached.items()}
reached_df = pd.DataFrame.from_dict(reached, orient="index", columns=["time"])

In [220]:
reached_df.index.name = "stop_id"
reached_df.head(2)

             time
stop_id
1171457  16:36:43
1171458  16:36:00

In [221]:
reached_df.to_csv("reached.csv")